---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="px-(--inline-padding)">
    <div class="max-w-4xl mx-auto">
      <h2
        id="introduction"
        class="bg-brand-gradient bg-clip-text text-transparent font-medium pb-12 mt-10"
      >
        {post.data.title}
      </h2>
      <Content />
    </div>
  </div>
</Layout>
