@import "tailwindcss";
@import "./reset.css";
@import "./typography.css";
@plugin "@tailwindcss/typography";

@theme {
  /* TYPOGRAPHY */
  --font-sans:
    "Geomanist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif:
    "Geomanist", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* BREAKPOINTS */
  /* Reset breakpoints */
  --breakpoint-*: initial;
  /* New breakpoints */
  --breakpoint-tablet: 550px;
  --breakpoint-laptop: 1100px;
  --breakpoint-desktop: 1500px;
  /* COLORS */
  /* Light mode colors (default) */
  --color-*: initial;

  /* WHITE AND BLACK */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);

  /* BRAND ORANGE */
  --color-orange-100: oklch(92.3% 0.043978 50.4);
  --color-orange-200: oklch(85% 0.090443 49.7);
  --color-orange-300: oklch(78.4% 0.13731 48.5);
  --color-orange-400: oklch(72.5% 0.181096 45.3);
  --color-orange-500: oklch(68% 0.214267 39.8);
  --color-orange-600: oklch(57.7% 0.179949 40.3);
  --color-orange-700: oklch(47% 0.142888 41.6);
  --color-orange-800: oklch(35.5% 0.104191 43.5);
  --color-orange-900: oklch(23.1% 0.061677 49.2);
  --color-orange-950: oklch(16.4% 0.038952 58.5);

  /* GRAY */
  --color-gray-100: oklch(99% 0 0);
  --color-gray-200: oklch(98% 0 0);
  --color-gray-300: oklch(96% 0 0);
  --color-gray-400: oklch(93% 0 0);
  --color-gray-500: oklch(91% 0 0);
  --color-gray-600: oklch(89% 0 0);
  --color-gray-700: oklch(85% 0.01 0);
  --color-gray-800: oklch(79% 0.01 0);
  --color-gray-900: oklch(64% 0.01 106.51);
  --color-gray-1000: oklch(60% 0.01 0);
  --color-gray-1100: oklch(50% 0.01 0);
  --color-gray-1200: oklch(24% 0.01 0);

  /* GRADIENTS */
  --brand-gradient: linear-gradient(
    135deg,
    var(--color-orange-500, #ff5900) 0%,
    #f27b13 100%
  );

  --inline-padding: calc(var(--spacing) * 4);

  /*EVERY LAYOUT COMPONENTS*/
  /* STACK */
  --stack-space: 1.5rem;
  /* CLUSTER */
  --cluster-space: 0.25rem;
  /* COVER */
  --cover-min-block-size: 100vh;
  /* SIDEBAR */
  --sidebar-gap: 1rem;
  --sidebar-width: content;
  --sidebar-content-min: 50%;
}

/* Dark mode color overrides */
.dark {
  --color-orange-100: oklch(16.4% 0.038952 58.5);
  --color-orange-200: oklch(23.1% 0.061677 49.2);
  --color-orange-300: oklch(35.5% 0.104191 43.5);
  --color-orange-400: oklch(47% 0.142888 41.6);
  --color-orange-500: oklch(57.7% 0.179949 40.3);
  --color-orange-600: oklch(68% 0.214267 39.8);
  --color-orange-700: oklch(72.5% 0.181096 45.3);
  --color-orange-800: oklch(78.4% 0.13731 48.5);
  --color-orange-900: oklch(85% 0.090443 49.7);
  --color-orange-950: oklch(92.3% 0.043978 50.4);

  --color-gray-100: oklch(18% 0 0);
  --color-gray-200: oklch(21% 0 0);
  --color-gray-300: oklch(25% 0 0);
  --color-gray-400: oklch(28% 0 0);
  --color-gray-500: oklch(31% 0.01 0);
  --color-gray-600: oklch(35% 0.01 0);
  --color-gray-700: oklch(40% 0.01 0);
  --color-gray-800: oklch(49% 0.01 0);
  --color-gray-900: oklch(53% 0.01 93.54);
  --color-gray-1000: oklch(58% 0.01 99.95);
  --color-gray-1100: oklch(77% 0.01 0);
  --color-gray-1200: oklch(95% 0 0);
}

@layer base {
  :root {
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @media (min-width: 744px) {
      --inline-padding: calc(var(--spacing) * 6);
    }
    @media (min-width: 1440px) {
      --inline-padding: calc(var(--spacing) * 8);
    }
  }
  h1,
  h2,
  h3,
  h4,
  p {
    text-wrap: pretty;
  }

  h1 {
    font-size: var(--text-4xl); /* 36px */
    line-height: calc(var(--spacing) * 10); /* 40px */
  }
  h2 {
    font-size: var(--text-3xl); /* 30px */
    line-height: calc(var(--spacing) * 9); /* 36px */
  }
  h3 {
    font-size: var(--text-2xl); /* 24px */
    line-height: calc(var(--spacing) * 7); /* 28px */
  }
  h4 {
    font-size: var(--text-xl); /* 20px */
    line-height: calc(var(--spacing) * 6); /* 24px */
  }

  /* Tablet and up */
  @media (min-width: 550px) {
    h1 {
      font-size: var(--text-5xl); /* 48px */
      line-height: calc(var(--spacing) * 13); /* 52px */
    }
    h2 {
      font-size: var(--text-4xl); /* 36px */
      line-height: calc(var(--spacing) * 10); /* 40px */
    }
    h3 {
      font-size: var(--text-3xl); /* 30px */
      line-height: calc(var(--spacing) * 8.5); /* 34px */
    }
    h4 {
      font-size: var(--text-2xl); /* 24px */
      line-height: calc(var(--spacing) * 7); /* 28px */
    }
  }

  /* Laptop and up */
  @media (min-width: 1100px) {
  }

  /* Desktop and up */
  @media (min-width: 1500px) {
    h1 {
      font-size: var(--text-6xl); /* 60px */
      line-height: calc(var(--spacing) * 16); /* 64px */
    }
    h2 {
      font-size: var(--text-5xl); /* 48px */
      line-height: calc(var(--spacing) * 13); /* 52px */
    }
    h3 {
      font-size: var(--text-4xl); /* 36px */
      line-height: calc(var(--spacing) * 10); /* 40px */
    }
    h4 {
      font-size: var(--text-3xl); /* 30px */
      line-height: calc(var(--spacing) * 8); /* 32px */
    }
  }

  p {
    font-weight: 400;
    line-height: calc(var(--spacing) * 5.5);
  }
}

/* Body text variants */
@utility body-large {
  font-size: var(--text-lg); /* 18px */
  line-height: calc(var(--spacing) * 6); /* 32px */
}

/* Brand gradients */
@utility bg-brand-gradient {
  background-image: var(--brand-gradient);
}

@utility caption {
  font-size: var(--text-xs);
  line-height: calc(var(--spacing) * 4);
  letter-spacing: 4%;
  text-transform: uppercase;
  font-weight: 500;
}

/*TODO: Not really footnote*/
@utility footnote {
  font-size: 12px;
  line-height: calc(var(--spacing) * 4);
  font-weight: 400;
}

/* Every Layout Components */
/* STACK COMPONENT */
@utility stack {
  @apply flex flex-col justify-start;

  & > * {
    @apply my-0;
  }

  & > * + * {
    margin-block-start: var(--stack-space, 1.5rem);
  }
}

@utility cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cluster-space, 1rem);
  justify-content: flex-start;
  align-items: center;
}

/* COVER COMPONENT */
@utility cover {
  display: flex;
  flex-direction: column;
  min-block-size: var(--cover-min-block-size);

  & > * {
    margin-block: auto;
  }

  & > :first-child:not(div) {
    margin-block-start: 0;
  }

  & > :last-child:not(div) {
    margin-block-end: 0;
  }

  & > div {
    margin-block: auto;
  }
}

@utility sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap);

  & > :first-child {
    flex-basis: var(--sidebar-width);
    flex-grow: 1;
  }

  & > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--sidebar-content-min);
  }
}
