---
import Layout from "../layouts/Layout.astro";
import Cover from "../components/Cover.astro";
---

<Layout>
  <Cover class="h-svh items-center justify-center">
    <h1
      class="bg-brand-gradient bg-clip-text text-transparent font-medium -translate-y-17"
    >
      Daniel Noworyta
    </h1>
  </Cover>
</Layout>
