---
import Layout from "@/layouts/Layout.astro";
import VaillantLogo from "@/images/vaillant_logo.svg";
import BechtleLogo from "@/images/bechtle_logo.svg";
import CodeIcon from "@/images/icons/code.svg";
import ReactIcon from "@/images/icons/react.svg";
import NextJSIcon from "@/images/icons/nextjs.svg";
import VercelIcon from "@/images/icons/vercel.svg";
import TypeScriptIcon from "@/images/icons/ts.svg";
import JavaScriptIcon from "@/images/icons/js.svg";
import NodeJsIcon from "@/images/icons/nodejs.svg";
import BunIcon from "@/images/icons/bun.svg";
import TailwindCSSIcon from "@/images/icons/tailwindcss.svg";
import ShadCnUIIcon from "@/images/icons/shadcnui.svg";
import RadixUIIcon from "@/images/icons/radixui.svg";
import MotionIcon from "@/images/icons/motion.svg";
import TanstackIcon from "@/images/icons/tanstack.svg";
import WorkExperience from "@/components/experience/WorkExperience.astro";
import Position from "@/components/experience/Position.astro";
import PixelCard from "@/components/PixelCard.astro";
---

<Layout>
  <div class="px-(--inline-padding)">
    <div class="mx-auto max-w-4xl">
      <div>
        <h2 class="font-medium pb-10" id="experience">Experience</h2>
        <!-- Vaillant -->
        <div class="max-w-4xl border-b border-b-grey-200 mb-3">
          <WorkExperience companyName="Vaillant Group" isCurrentJob={true}>
            <VaillantLogo width={24} height={32} slot="logo" />
            <Position
              slot="positions"
              title="React Native Developer"
              employmentType="Full-Time"
              startDate="05-2024"
              endDate="now"
            >
              <CodeIcon width={18} slot="icon" />
              <div class="pl-8 pb-4 max-w-3xl" slot="description">
                <ul class="list-disc pl-5 text-grey-800 text-sm">
                  <li>Develop Web and Native myVaillant PRO App.</li>
                  <li>
                    Cooperate with business and design in creating new features.
                  </li>
                  <li>
                    Analyze technical capabilities and provide optimal
                    solutions.
                  </li>
                  <li>Ensure UI/UX consistency and adherence to standards.</li>
                </ul>
              </div>
            </Position>
          </WorkExperience>
        </div>

        <!-- Bechtle -->
        <div class="max-w-4xl border-b border-b-grey-200 mb-8">
          <WorkExperience companyName="Bechtle / AV360" isCurrentJob={false}>
            <BechtleLogo width={24} height={32} slot="logo" />
            <Position
              slot="positions"
              title="Software Developer"
              employmentType="Full-Time"
              startDate="12-2020"
              endDate="05-2024"
            >
              <CodeIcon width={18} slot="icon" />
              <div class="pl-8 pb-4 max-w-3xl" slot="description">
                <p class="text-grey-800 underline pb-2 text-sm">
                  Develop interface for document management platform
                </p>
                <ul class="list-disc pl-5 text-grey-800 pb-3 text-sm">
                  <li>
                    Developed interface for a document management platform using
                    ReactJS, FluentUI, and TypeScript.
                  </li>
                  <li>
                    Designed and applied a testing strategy with Jest and
                    snapshot tests to improve software reliability.
                  </li>
                  <li>
                    Devised and executed more effective solutions for large data
                    tables using infinite scrolling and pagination.
                  </li>
                  <li>
                    Collaborated closely with UI/UX Design Team to enhance
                    interface usability and aesthetics.
                  </li>
                </ul>
                <p class="text-grey-800 underline pb-2 text-sm">
                  Ideated and implemented a multi-platform chat messaging app in
                  Tauri, boosting the company’s product portfolio and revenue
                </p>
                <ul class="list-disc pl-5 text-grey-800 text-sm pb-4">
                  <li>
                    Constructed interfaces and logic for system management and
                    chat messaging applications.
                  </li>
                  <li>
                    Incorporated the open-source Matrix Protocol for enhanced
                    communication capabilities.
                  </li>
                  <li>
                    Created an advanced editor using the Lexical Framework,
                    contributing to the expansion of the company’s software
                    capabilities.
                  </li>
                  <li>
                    Implemented CI/CD pipeline on Azure for Tauri and Rust,
                    streamlining the development and deployment process.
                  </li>
                </ul>
                <p class="max-w-3xl text-grey-800 text-sm font-medium">
                  Throughout my tenure, I have successfully tackled complex
                  challenges, innovated solutions, and developed impactful
                  software. My contributions have played a key role in enhancing
                  product quality and user experience, ultimately leading to
                  increased customer satisfaction and revenue growth for the
                  company.
                </p>
              </div>
            </Position>
          </WorkExperience>
        </div>

        <h2 class="font-medium pb-6" id="stack">Stack</h2>
        <div class="cluster max-w-4xl" style={{ "--cluster-space": "0" }}>
          <PixelCard
            to="https://react.dev"
            variant="react"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
            tooltipText="React"
          >
            <div
              class="flex items-center flex-col gap-2 z-10"
              data-tooltip="React"
            >
              <ReactIcon class="dark:text-[#58C4DC] text-[#087EA4] size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="TypeScript"
            to="https://www.typescriptlang.org/"
            variant="ts"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <TypeScriptIcon class="text-[#3178C6] size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="NextJS"
            to="https://nextjs.org/"
            variant="default"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <NextJSIcon class="text-grey-950 size-10" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Vercel"
            to="https://vercel.com/"
            variant="default"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <VercelIcon class="text-grey-950 size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="JavaScript"
            to="https://developer.mozilla.org/en-US/docs/Web/JavaScript"
            variant="js"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <JavaScriptIcon class="text-[#f7df1e] size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="NodeJS"
            to="https://nodejs.org/en/"
            variant="nodejs"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <NodeJsIcon class="size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Bun"
            to="https://bun.sh/"
            variant="bun"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <BunIcon class="size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Tailwind CSS"
            to="https://tailwindcss.com/"
            variant="tailwindcss"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <TailwindCSSIcon class="size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Shadcn UI"
            to="https://ui.shadcn.com/"
            variant="default"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <ShadCnUIIcon class="size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Radix UI"
            to="https://www.radix-ui.com/"
            variant="default"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <RadixUIIcon class="size-8" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="Motion"
            to="https://motion.dev"
            variant="motion"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <MotionIcon class="size-10" />
            </div>
          </PixelCard>
          <PixelCard
            tooltipText="TanStack"
            to="https://tanstack.com"
            variant="tanstack"
            className="w-1/5 tablet:w-1/6 h-auto aspect-square laptop:w-1/8 desktop:w-1/10 hover:z-10"
          >
            <div class="flex items-center flex-col gap-2 z-10">
              <TanstackIcon class="size-8" />
            </div>
          </PixelCard>
        </div>

        <!-- <h2 class="font-medium pb-6" id="blog">Blog</h2>
        <h2 class="font-medium pb-6" id="certifications">Certifications</h2> -->
      </div>
    </div>
  </div>
</Layout>
