---
import Layout from "@/layouts/Layout.astro";
import VaillantLogo from "@/images/vaillant_logo.svg";
import BechtleLogo from "@/images/bechtle_logo.svg";
import CodeIcon from "@/images/icons/code.svg";
import WorkExperience from "@/components/experience/WorkExperience.astro";
import Position from "@/components/experience/Position.astro";
---

<Layout>
  <div class="px-(--inline-padding)">
    <div class="mx-auto max-w-4xl">
      <h2 class="font-medium pb-10">Experience</h2>
      <!-- Vaillant -->
      <div class="max-w-3xl border-b border-b-grey-200 mb-3">
        <WorkExperience companyName="Vaillant Group" isCurrentJob={true}>
          <VaillantLogo width={24} height={32} slot="logo" />
          <Position
            slot="positions"
            title="React Native Developer"
            employmentType="Full-Time"
            startDate="05-2024"
            endDate="now"
          >
            <CodeIcon width={18} slot="icon" />
            <div class="pl-8 pb-4" slot="description">
              <ul class="list-disc pl-5 text-grey-800 text-sm">
                <li>Develop Web and Native myVaillant PRO App.</li>
                <li>
                  Cooperate with business and design in creating new features.
                </li>
                <li>
                  Analyze technical capabilities and provide optimal solutions.
                </li>
                <li>Ensure UI/UX consistency and adherence to standards.</li>
              </ul>
            </div>
          </Position>
        </WorkExperience>
      </div>

      <!-- Bechtle -->
      <div class="max-w-3xl border-b border-b-grey-200 mb-3">
        <WorkExperience companyName="Bechtle / AV360" isCurrentJob={false}>
          <BechtleLogo width={24} height={32} slot="logo" />
          <Position
            slot="positions"
            title="Software Developer"
            employmentType="Full-Time"
            startDate="12-2020"
            endDate="05-2024"
          >
            <CodeIcon width={18} slot="icon" />
            <div class="pl-8 pb-4" slot="description">
              <p class="text-grey-800 underline pb-2 text-sm">
                Develop interface for document management platform
              </p>
              <ul class="list-disc pl-5 text-grey-800 pb-3 text-sm">
                <li>
                  Developed interface for a document management platform using
                  ReactJS, FluentUI, and TypeScript.
                </li>
                <li>
                  Designed and applied a testing strategy with Jest and snapshot
                  tests to improve software reliability.
                </li>
                <li>
                  Devised and executed more effective solutions for large data
                  tables using infinite scrolling and pagination.
                </li>
                <li>
                  Collaborated closely with UI/UX Design Team to enhance
                  interface usability and aesthetics.
                </li>
              </ul>
              <p class="text-grey-800 underline pb-2 text-sm">
                Ideated and implemented a multi-platform chat messaging app in
                Tauri, boosting the company’s product portfolio and revenue
              </p>
              <ul class="list-disc pl-5 text-grey-800 text-sm pb-4">
                <li>
                  Constructed interfaces and logic for system management and
                  chat messaging applications.
                </li>
                <li>
                  Incorporated the open-source Matrix Protocol for enhanced
                  communication capabilities.
                </li>
                <li>
                  Created an advanced editor using the Lexical Framework,
                  contributing to the expansion of the company’s software
                  capabilities.
                </li>
                <li>
                  Implemented CI/CD pipeline on Azure for Tauri and Rust,
                  streamlining the development and deployment process.
                </li>
              </ul>
              <p class="max-w-3xl text-grey-800 text-sm font-medium">
                Throughout my tenure, I have successfully tackled complex
                challenges, innovated solutions, and developed impactful
                software. My contributions have played a key role in enhancing
                product quality and user experience, ultimately leading to
                increased customer satisfaction and revenue growth for the
                company.
              </p>
            </div>
          </Position>
        </WorkExperience>
      </div>
    </div>
  </div>
</Layout>
