---
import { cn } from "../lib/utils";
const { minHeight, class: className } = Astro.props;
---

<div
  class={cn("cover", className && className)}
  style={{ "--cover-min-block-size": minHeight }}
>
  <slot />
</div>
