---
// Only show the indicator in development mode
const isProduction = import.meta.env.PROD;
---

{
  !isProduction && (
    <div class="fixed bottom-1 left-4 z-50 flex items-center justify-center rounded-full bg-gray-300 p-3 font-mono text-xs text-gray-1200">
      <div class="block tablet:hidden">Mobile</div>
      <div class="hidden tablet:block laptop:hidden">Tablet</div>
      <div class="hidden laptop:block desktop:hidden">Laptop</div>
      <div class="hidden desktop:block">Desktop</div>
    </div>
  )
}
