---
export interface Props {
  id: string;
  title?: string;
}

const { id, title = "YouTube video" } = Astro.props;
---

<div class="youtube-embed my-6">
  <div class="relative w-full" style="padding-bottom: 56.25%;">
    <iframe
      src={`https://www.youtube.com/embed/${id}`}
      title={title}
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      class="absolute top-0 left-0 w-full h-full rounded-lg"
    ></iframe>
  </div>
</div>
