---
import "../styles/global.css";
import TailwindIndicator from "../components/TailwindIndicator.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Logo from "../images/Logo.svg";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateTheme = (theme) => {
    const isDark = theme === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    // Update favicon based on theme
    const favicon = document.querySelector("link[rel='icon']");
    if (favicon) {
      favicon.href = isDark ? "/favicon-dark.ico" : "/favicon-light.ico";
    }
  };

  // Set initial theme
  updateTheme(getThemePreference());
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href="/fonts/Geomanist/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Geomanist/Geomanist-Medium-Webfont/geomanist-medium-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="icon" href="/favicon-light.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Daniel Noworyta's Blog"
      href="/rss.xml"
    />
    <slot name="head">
      <meta name="description" content="Code to learn..." />
      <title>Daniel Noworyta</title>
    </slot>
  </head>
  <body class="bg-grey-50">
    <div class="px-(--inline-padding)">
      <header
        class="mx-auto max-w-4xl flex items-center justify-between h-16 laptop:h-20"
      >
        <a href="/" class="flex items-center gap-1.5 group">
          <p class="font-medium tracking-wide">Daniel</p>
          <Logo
            width={17}
            height={15}
            class="-rotate-15 group-hover:rotate-0 duration-200"
          />
          <p class="font-medium tracking-wide">Noworyta</p>
        </a>
        <nav>
          <ul class="flex items-baseline justify-between gap-8">
            <li><a href="/about">About</a></li>
          </ul>
          <ul class="flex items-baseline justify-between gap-8">
            <li><a href="/blog">Blog</a></li>
          </ul>
        </nav>
        <ThemeToggle />
      </header>
    </div>
    <slot />
  </body>
  <TailwindIndicator />
  <SpeedInsights />
</html>
